<ion-header class="ion-no-border rounded-b-2xl">
  <ion-toolbar class="ion-padding-top ion-padding-horizontal pb-4">
    <ion-back-button></ion-back-button>
    <ion-title>Profil</ion-title>
  </ion-toolbar>

  <ng-container *ngIf="user$ | async as user">
    <div class="flex flex-col gap-6 px-8 pb-8">
      <section class="flex items-center transition-all duration-500" [ngClass]="collapseHeader ? 'gap-4' : 'gap-6'">
        <ion-avatar class="transition-all duration-500" [ngClass]="collapseHeader ? 'size-16' : 'size-24'">
          <img alt="avatar" src="/assets/avatar.jpg">
        </ion-avatar>

        <div class="flex flex-col leading-none">
          <ion-text class="text-2xl font-semibold">
            {{ user.display_name }}
          </ion-text>
          <ion-text color="medium">
            {{ user.username }}
          </ion-text>
        </div>
      </section>

      <section class="grid transition-[grid-template-rows] duration-500"
               [ngClass]="collapseHeader ? 'grid-rows-[0fr]' : 'grid-rows-[1fr]'">
        <app-level-progress class="flex flex-col gap-1 overflow-hidden" />
      </section>

      <ion-button color="success">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Dodaj znajomego
      </ion-button>

      <section class="flex items-center transition-all duration-500" [ngClass]="collapseHeader ? 'gap-4' : 'gap-6'">
        <ion-skeleton-text animated class="rounded-2xl transition-all duration-500"
                           [ngClass]="collapseHeader ? 'size-16' : 'size-24'"></ion-skeleton-text>
        <div class="flex flex-col gap-2">
          <ion-skeleton-text animated class="h-6 w-24 rounded-2xl"></ion-skeleton-text>
          <ion-skeleton-text animated class="h-4 w-16 rounded-2xl"></ion-skeleton-text>
        </div>
      </section>

      <section class="grid transition-[grid-template-rows] duration-500"
               [ngClass]="collapseHeader ? 'grid-rows-[0fr]' : 'grid-rows-[1fr]'">
        <div class="flex flex-col gap-2 overflow-hidden">
          <ion-skeleton-text animated class="h-4 w-24 rounded-2xl"></ion-skeleton-text>
          <ion-skeleton-text animated class="h-3 w-full rounded-full"></ion-skeleton-text>
          <ion-skeleton-text animated class="self-end h-3 w-36 rounded-2xl"></ion-skeleton-text>
        </div>
      </section>
    </div>
  </ng-container>

</ion-header>

<ion-content (scroll)="onContentScroll($event)" *ngIf="user$ | async as user">
  <app-user-activity-feed [userId]="user.id" />
</ion-content>

<ion-header class="ion-no-border rounded-b-2xl">
  <ion-toolbar class="ion-padding-top ion-padding-horizontal pb-4">
    <ion-title>Profil</ion-title>
    <ion-button color="dark" fill="clear" size="large" slot="end">
      <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <div class="flex flex-col gap-6 px-8 pb-8">
    @defer (when authService.user() !== null) {
      <section class="flex items-center transition-all duration-500" [ngClass]="collapseHeader ? 'gap-4' : 'gap-6'">
        <ion-avatar class="transition-all duration-500" [ngClass]="collapseHeader ? 'size-16' : 'size-24'">
          <img alt="avatar" src="/assets/avatar.jpg">
        </ion-avatar>

        <div class="flex flex-col leading-none">
          <ion-text class="text-2xl font-semibold">
            {{ authService.user()?.display_name }}
          </ion-text>
          <ion-text color="medium">
            {{ authService.user()?.username }}
          </ion-text>
        </div>
      </section>

      <section class="grid transition-[grid-template-rows] duration-500"
               [ngClass]="collapseHeader ? 'grid-rows-[0fr]' : 'grid-rows-[1fr]'">
        <app-level-progress class="flex flex-col gap-1 overflow-hidden" />
      </section>
    } @loading {
      <section class="flex items-center transition-all duration-500" [ngClass]="collapseHeader ? 'gap-4' : 'gap-6'">
        <ion-skeleton-text animated class="rounded-2xl transition-all duration-500"
                           [ngClass]="collapseHeader ? 'size-16' : 'size-24'"></ion-skeleton-text>
        <div class="flex flex-col gap-2">
          <ion-skeleton-text animated class="h-6 w-24 rounded-2xl"></ion-skeleton-text>
          <ion-skeleton-text animated class="h-4 w-16 rounded-2xl"></ion-skeleton-text>
        </div>
      </section>

      <section class="grid transition-[grid-template-rows] duration-500"
               [ngClass]="collapseHeader ? 'grid-rows-[0fr]' : 'grid-rows-[1fr]'">
        <div class="flex flex-col gap-2 overflow-hidden">
          <ion-skeleton-text animated class="h-4 w-24 rounded-2xl"></ion-skeleton-text>
          <ion-skeleton-text animated class="h-3 w-full rounded-full"></ion-skeleton-text>
          <ion-skeleton-text animated class="self-end h-3 w-36 rounded-2xl"></ion-skeleton-text>
        </div>
      </section>
    }

    <section class="transition-all duration-500" [ngClass]="{'-mt-6': collapseHeader}">
      <ion-segment mode="ios" (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
        <ion-segment-button value="feed">
          <ion-label>Aktywność</ion-label>
        </ion-segment-button>
        <ion-segment-button value="achievements">
          <ion-label>Osiągnięcia</ion-label>
        </ion-segment-button>
        <ion-segment-button value="stats">
          <ion-label>Statystyki</ion-label>
        </ion-segment-button>
      </ion-segment>
    </section>
  </div>
</ion-header>

<ion-content scroll-y="false">
  <swiper-container
    #profileSwiper
    (swiperslidechange)="slideChanged($event)"
    class="w-full h-full">
    <swiper-slide class="ion-padding h-full overflow-y-scroll ion-content-scroll-host"
                  (scroll)="onContentScroll($event)">
      <app-user-activity-feed [userId]="authService.user()!.id" />
    </swiper-slide>

    <swiper-slide class="ion-padding h-full overflow-y-scroll" (scroll)="onContentScroll($event)">
      <div class="flex flex-col gap-2">
        <div class="font-semibold text-2xl">
          Ukończone
        </div>
        <div class="flex gap-3 w-full bg-[var(--ion-color-light)] rounded-2xl p-3" *ngFor="let _ of [1,2,3,4,5]">
          <div
            class="bg-gradient-to-br from-[var(--ion-color-primary)] to-[var(--ion-color-secondary)] flex items-center justify-center w-14 h-14 p-4 rounded-xl">
            <ion-icon name="trophy-outline" color="light" size="large"></ion-icon>
          </div>
          <div class="flex flex-col w-full justify-between">
            <ion-text class="font-semibold">
              Ukończone testowe osiągnięcie.
            </ion-text>
            <div class="flex flex-col gap-1">
              <ion-progress-bar value="1" class="rounded-full" color="secondary" />
              <div class="self-end font-semibold leading-none">
                <ion-text color="secondary">1 z 1</ion-text>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>

