<div class="flex flex-col gap-4">
  <div class="bg-[var(--ion-color-light)] flex flex-col gap-4 rounded-2xl">
    <div class="flex items-center gap-2 px-3 pt-3">
      <ion-avatar class="h-12 w-12">
        <img alt="avatar" src="/assets/avatar.jpg">
      </ion-avatar>
      <div class="flex flex-col">
        <ion-text class="font-semibold">
          Test User ukończył trening.
        </ion-text>
        <div class="flex items-center gap-1">
          <ion-icon name="time-outline" slot="start" color="medium"></ion-icon>
          <ion-text class="text-sm" color="medium">
            2 godz. temu
          </ion-text>
        </div>
      </div>
    </div>

    <div class="px-3">
      <div class="font-semibold text-2xl text-center">
        Arms Day
      </div>
    </div>

    <div class="px-3">
      <div class="grid grid-cols-2 gap-2">
        <div class="flex flex-col gap-2 border-[1px] border-[var(--ion-color-light-tint)] rounded-xl p-3">
          <ion-text class="font-semibold flex items-center gap-1">
            <ion-icon name="barbell"></ion-icon>
            Ćwiczenia
          </ion-text>
          <div class="self-end leading-none">
            <ion-text>1</ion-text>
          </div>
        </div>
        <div class="flex flex-col gap-2 border-[1px] border-[var(--ion-color-light-tint)] rounded-xl p-3">
          <ion-text class="font-semibold flex items-center gap-1">
            <ion-icon name="time-outline"></ion-icon>
            Czas
          </ion-text>
          <div class="self-end leading-none">
            <ion-text>1 min</ion-text>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-evenly border-t-[1px] border-[var(--ion-color-light-tint)]">
      <ion-buttons>
        <ion-button>
          <ion-icon name="heart-outline" slot="start"></ion-icon>
          Lubię to
        </ion-button>
        <ion-button>
          <ion-icon name="share-social-outline" slot="start"></ion-icon>
          Udostępnij
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <div class="bg-[var(--ion-color-light)] flex flex-col gap-4 rounded-2xl">
    <div class="flex items-center gap-2 px-3 pt-3">
      <ion-avatar class="h-12 w-12">
        <img alt="avatar" src="/assets/avatar.jpg">
      </ion-avatar>
      <div class="flex flex-col">
        <ion-text class="font-semibold">
          Test User zdobył osiągnięcie.
        </ion-text>
        <div class="flex items-center gap-1">
          <ion-icon name="time-outline" slot="start" color="medium"></ion-icon>
          <ion-text class="text-sm" color="medium">
            12 godz. temu
          </ion-text>
        </div>
      </div>
    </div>

    <div class="px-3">
      <div class="flex gap-3 w-full border-[1px] border-[var(--ion-color-light-tint)] rounded-xl p-3">
        <div
          class="bg-gradient-to-br from-[var(--ion-color-primary)] to-[var(--ion-color-secondary)] flex items-center justify-center w-14 h-14 p-4 rounded-xl">
          <ion-icon name="trophy-outline" color="light" size="large"></ion-icon>
        </div>
        <div class="flex flex-col w-full justify-between">
          <ion-text class="font-semibold">
            Testowe osiągnięcie.
          </ion-text>
          <div class="flex flex-col gap-1">
            <ion-progress-bar value="1" class="rounded-full" color="secondary" />
            <div class="self-end font-semibold leading-none">
              <ion-text color="secondary">1 z 1</ion-text>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-evenly border-t-[1px] border-[var(--ion-color-light-tint)]">
      <ion-buttons>
        <ion-button>
          <ion-icon name="heart-outline" slot="start"></ion-icon>
          Lubię to
        </ion-button>
        <ion-button>
          <ion-icon name="share-social-outline" slot="start"></ion-icon>
          Udostępnij
        </ion-button>
      </ion-buttons>
    </div>
  </div>
</div>
