<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding-horizontal ion-padding-top">
    <ion-title>Polityka Prywatności</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="flex flex-col gap-2 text-justify">
    <div class="text-lg font-semibold">
      1. Informacje ogólne
    </div>
    <p>
      Administratorem Twoich danych osobowych jest wspomagacz.online. Możesz skontaktować się z nami pod adresem e-mail
      -
      <ion-text color="primary">
        support&#64;wspomagacz.online.
      </ion-text>
    </p>
    <div class="text-lg font-semibold">
      2. Administrator danych osobowych
    </div>
    <p>
      Niniejsza Polityka Prywatności określa zasady przetwarzania danych osobowych użytkowników aplikacji Wspomagacz.
      Dbamy o bezpieczeństwo Twoich danych osobowych i zobowiązujemy się do ich przetwarzania zgodnie z obowiązującymi
      przepisami, w tym z Ogólnym Rozporządzeniem o Ochronie Danych Osobowych (RODO).
    </p>
    <div class="text-lg font-semibold">
      3. Zakres zbieranych danych osobowych
    </div>
    <p>
      Podczas korzystania z aplikacji możemy zbierać następujące dane osobowe:
    </p>
    <ul class="list-disc pl-4">
      <li>Dane rejestracyjne - adres e-mail, data urodzenia, hasło.</li>
      <li>Dane dotyczące aktywności - informacje o planach, postępach i celach treningowych.</li>
    </ul>
    <div class="text-lg font-semibold">
      4. Cel przetwarzania danych
    </div>
    <p>
      Dane osobowe przetwarzamy w następujących celach:
    </p>
    <ul class="list-disc pl-4">
      <li>Świadczenie usług - umożliwienie korzystania z funkcji aplikacji, takich jak śledzenie postępów, planowanie
        treningów, itp.
      </li>
      <li>Marketing - wysyłanie informacji o nowych funkcjach.</li>
    </ul>
    <div class="text-lg font-semibold">
      5. Podstawa prawna przetwarzania
    </div>
    <p>
      Podstawy prawne przetwarzania Twoich danych osobowych obejmują:
    </p>
    <ul class="list-disc pl-4">
      <li>Zgoda użytkownika (art. 6 ust. 1 lit. a RODO) - w przypadku zapisania się na newsletter lub wyrażenia zgody na
        marketing.
      </li>
      <li>Wykonanie umowy (art. 6 ust. 1 lit. b RODO) - w celu świadczenia usług w ramach aplikacji.</li>
      <li>Obowiązek prawny (art. 6 ust. 1 lit. c RODO) - np. przechowywanie danych dotyczących transakcji płatniczych.
      </li>
      <li>Prawnie uzasadniony interes (art. 6 ust. 1 lit. f RODO) - np. ochrona przed oszustwami lub zapewnienie
        bezpieczeństwa aplikacji.
      </li>
    </ul>
    <div class="text-lg font-semibold">
      6. Okres przechowywania danych
    </div>
    <p>
      Dane osobowe będą przechowywane:
    </p>
    <ul class="list-disc pl-4">
      <li>Do czasu usunięcia konta przez użytkownika - dane związane z Twoim kontem.</li>
      <li>Zgodnie z wymogami prawa - dane dotyczące płatności lub transakcji.</li>
      <li>Do momentu wycofania zgody - w przypadku danych przetwarzanych na podstawie zgody.</li>
    </ul>
    <div class="text-lg font-semibold">
      7. Udostępnianie danych osobowych
    </div>
    <p>
      Twoje dane osobowe mogą być udostępniane:
    </p>
    <ul class="list-disc pl-4">
      <li>Podmiotom przetwarzającym dane w naszym imieniu - np. operatorom płatności, dostawcom usług IT.</li>
      <li>Organom publicznym - w przypadku obowiązku prawnego wynikającego z przepisów.</li>
    </ul>
    <div class="text-lg font-semibold">
      8. Prawa użytkownika
    </div>
    <p>
      Masz prawo do:
    </p>
    <ul class="list-disc pl-4">
      <li>Dostępu do danych - możesz poprosić o kopię swoich danych osobowych.</li>
      <li>Poprawy danych - jeżeli Twoje dane są nieprawidłowe lub nieaktualne.</li>
      <li>Usunięcia danych („prawo do bycia zapomnianym”) - w określonych sytuacjach.</li>
      <li>Ograniczenia przetwarzania - jeżeli kwestionujesz prawidłowość danych lub sposób ich przetwarzania.</li>
      <li>Sprzeciwu wobec przetwarzania - szczególnie w celach marketingowych.</li>
      <li>Przenoszenia danych - uzyskania swoich danych w ustrukturyzowanym formacie.</li>
      <li>Wycofania zgody - w przypadku, gdy przetwarzanie odbywa się na podstawie zgody.</li>
    </ul>
    <p>
      Aby skorzystać z tych praw, skontaktuj się z nami pod adresem e-mail:
      <ion-text color="primary">
        support&#64;wspomagacz.online.
      </ion-text>
    </p>
    <div class="text-lg font-semibold">
      9. Środki bezpieczeństwa
    </div>
    <p>
      Twoje dane osobowe są przechowywane na bezpiecznych serwerach, a dostęp do nich jest chroniony hasłami i
      szyfrowaniem. Regularnie aktualizujemy nasze systemy bezpieczeństwa, aby zapobiegać nieautoryzowanemu dostępowi.
    </p>
    <div class="text-lg font-semibold">
      10. Pliki cookies
    </div>
    <p>
      Aplikacja może wykorzystywać pliki cookies w celu poprawy doświadczenia użytkownika oraz analizy ruchu. Możesz
      zarządzać ustawieniami plików cookies w ustawieniach przeglądarki.
    </p>
    <div class="text-lg font-semibold">
      11. Zmiany w Polityce Prywatności
    </div>
    <p>
      Zastrzegamy sobie prawo do zmiany niniejszej Polityki Prywatności w dowolnym czasie. O wszelkich zmianach
      poinformujemy Cię poprzez aplikację lub e-mail.
    </p>
    <div class="text-lg font-semibold">
      12. Kontakt
    </div>
    <p>
      W razie pytań lub wątpliwości dotyczących Twojej prywatności, skontaktuj się z nami pod adresem:
      <ion-text color="primary">
        support&#64;wspomagacz.online.
      </ion-text>
    </p>
  </div>
</ion-content>
