<div class="flex gap-3 w-full bg-[var(--ion-color-light)] rounded-2xl">
  <div
    class="bg-[var(--ion-color-light-tint)] flex items-center justify-center w-14 h-14 p-4 rounded-xl">
    <ion-icon name="trophy-outline" color="light" size="large"></ion-icon>
  </div>
  <div class="flex flex-col w-full justify-between">
    <ion-text class="font-semibold">
      Testowe osiągnięcie.
    </ion-text>
    <div class="flex flex-col gap-1">
      <ion-progress-bar value="0.5" class="rounded-full" color="secondary" />
      <div class="self-end font-semibold leading-none">
        <ion-text color="secondary">1 z 2</ion-text>
      </div>
    </div>
  </div>
</div>
