<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding-top">
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss(null, 'cancel')" color="primary">
        Anuluj
      </ion-button>
    </ion-buttons>
    <ion-title>Dodaj ćwiczenia</ion-title>
  </ion-toolbar>
  <ion-toolbar class="p-2">
    <ion-searchbar (ionInput)="handleInput($event)" class="searchbar" color="light" placeholder="Szukaj ćwiczenia"
                   show-clear-button="always"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-list class="ion-padding" lines="none">
    <ion-item-group class="flex gap-2 flex-col mb-4">
      <div class="text-xl font-semibold px-4 mb-2">
        Ćwiczenia w treningu
      </div>
      <ion-item-sliding *ngFor="let exercise of workoutExercises; let i = index">
        <ion-item (click)="openExerciseDetailsModal(exercise.exercise)" button detail="true" class="rounded-2xl"
                  color="light">
          <ion-label class="flex gap-1 items-center">
            <ion-text class="font-semibold">
              {{ exercise.exercise.exercise_name }}
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item-options class="pr-2" side="start">
          <ion-item-option (click)="removeWorkoutExercise(i)" class="rounded-2xl" color="primary">
            <ion-icon name="trash-bin" slot="start"></ion-icon>
            Usuń
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ng-container *ngIf="workoutExercises.length === 0">
        <div class="flex items-center justify-center gap-2 px-4">
          <ion-icon
            class="text-2xl"
            color="medium"
            name="alert-circle-outline"
          />
          <ion-text class="text-center" color="medium">
            Brak ćwiczeń.
          </ion-text>
        </div>
      </ng-container>
    </ion-item-group>

    <ion-item-group class="flex gap-2 flex-col mb-4">
      <div class="text-xl font-semibold px-4 mb-2">
        Ćwiczenia
      </div>
      @if (exercises.length > 0) {
        <ng-container *ngFor="let exercise of getStandardExercises()">
          <ion-item-sliding>
            <ion-item (click)="openExerciseDetailsModal(exercise)" button detail="true" class="rounded-2xl" color="light">
              <ion-label class="flex gap-1 items-center">
                <ion-text class="font-semibold">
                  {{ exercise.exercise_name }}
                </ion-text>
                <ion-icon name="checkmark-circle-outline" color="success"
                          *ngIf="isExerciseInWorkout(exercise)" />
              </ion-label>
            </ion-item>

            <ion-item-options class="pl-2" side="end">
              <ion-item-option (click)="addExercise(exercise)" class="rounded-2xl" color="success">
                <ion-icon name="add" slot="start"></ion-icon>
                Dodaj
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ng-container>
      } @else {
        <div class="flex items-center justify-center gap-2 px-4">
          <ion-icon
            class="text-2xl"
            color="medium"
            name="alert-circle-outline"
          />
          <ion-text class="text-center" color="medium">
            Brak ćwiczeń.
          </ion-text>
        </div>
      }
      <ion-infinite-scroll #infiniteScroll (ionInfinite)="onIonInfinite($event)">
        <div class="bg-[var(--ion-color-light)] flex flex-col gap-4 rounded-2xl infinite-scroll-content p-4">
          <div class="flex flex-col w-full gap-1.5">
            <ion-skeleton-text animated class="w-32 h-3 rounded-2xl"></ion-skeleton-text>
            <ion-skeleton-text animated class="w-24 h-3 rounded-2xl"></ion-skeleton-text>
          </div>
        </div>
      </ion-infinite-scroll>
    </ion-item-group>

    <ion-item-group>
      <div class="text-xl font-semibold px-4 mb-4">
        Własne Ćwiczenia
      </div>
      <ion-item-sliding *ngFor="let exercise of getCustomExercises()">
        <ion-item (click)="openExerciseDetailsModal(exercise)" button detail="true" class="rounded-2xl" color="light">
          <ion-label class="flex gap-1 items-center">
            <ion-text class="font-semibold">
              {{ exercise.exercise_name }}
            </ion-text>
            <ion-icon name="checkmark-circle-outline" color="success"
                      *ngIf="isExerciseInWorkout(exercise)" />
          </ion-label>
        </ion-item>

        <ion-item-options class="pl-2" side="end">
          <ion-item-option (click)="addExercise(exercise)" class="rounded-2xl" color="success">
            <ion-icon name="add" slot="start"></ion-icon>
            Dodaj
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ng-container *ngIf="getCustomExercises().length === 0">
        <div class="flex items-center justify-center gap-2 px-4">
          <ion-icon
            class="text-2xl"
            color="medium"
            name="alert-circle-outline"
          />
          <ion-text class="text-center" color="medium">
            Brak ćwiczeń.
          </ion-text>
        </div>
      </ng-container>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button (click)="confirm()"
              expand="full"
              color="success">
    <ion-icon name="save" slot="start"></ion-icon>
    Zapisz
  </ion-button>
</ion-footer>
