<ion-list lines="full">
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
        <ion-item-sliding *ngFor="let workoutExercise of workoutExercises">
            <ion-item>
                <ion-label class="flex flex-col">
                    <ion-text class="font-medium">
                        {{ workoutExercise.exercise.exercise_name }}
                    </ion-text>
                    <div class="flex gap-2 text-sm text-[var(--ion-text-color-step-450)]">
                        <div class="flex items-center self-stretch gap-1">
                            <ion-icon name="repeat"></ion-icon>
                            <div class="text-base">10</div>
                        </div>
                        <div class="flex items-center self-stretch gap-1">
                            <ion-icon name="barbell"></ion-icon>
                            <div class="text-base">30-45kg</div>
                        </div>
                    </div>
                </ion-label>
                <ion-reorder slot="end"></ion-reorder>
            </ion-item>

            <ion-item-options side="start">
                <ion-item-option color="primary">
                    <ion-icon slot="start" name="trash-bin"></ion-icon>
                    Usuń
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option color="secondary">
                    <ion-icon slot="start" name="pencil"></ion-icon>
                    Edytuj
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-reorder-group>
</ion-list>
