<form (ngSubmit)="login.emit(loginForm.getRawValue())" [formGroup]="loginForm"
      class="flex w-full gap-3 flex-col">
  <ion-input class="input"
             fill="outline"
             formControlName="username"
             placeholder="Nazwa Użytkownika"
             type="text"></ion-input>
  <ion-input class="input"
             fill="outline"
             formControlName="password"
             placeholder="Hasło"
             type="password">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>
  <ion-button class="self-end -mb-2 -mt-1" color="primary" fill="clear">Nie pamiętasz hasła?</ion-button>
  <ion-button [disabled]="this.loginForm.invalid || loginStatus() === 'authenticating'" class="w-full"
              type="submit">Zaloguj się
  </ion-button>
</form>
