<ion-header class="ion-no-border rounded-b-2xl">
  <ion-toolbar class="ion-padding-top ion-padding-horizontal pb-4">
    <ion-title>
      @if (segment === 'feed') {
        <ion-text>Aktywność</ion-text>
      } @else if (segment === 'ranking') {
        <ion-text>Ranking</ion-text>
      } @else if (segment === 'friends') {
        <ion-text>Znajomi</ion-text>
      }
    </ion-title>
    <ion-button color="dark" fill="clear" size="large" slot="end">
      <ion-icon name="ellipsis-horizontal" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <div class="px-8 pb-8">
    <ion-segment mode="ios" color="primary" (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
      <ion-segment-button value="feed">
        <ion-icon name="flash-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="ranking">
        <ion-icon name="trophy-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="friends">
        <ion-icon name="people-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>
  <swiper-container
    #discoverSwiper
    (swiperslidechange)="slideChanged($event)"
    class="w-full h-full">
    <swiper-slide class="ion-padding h-full overflow-y-scroll ion-content-scroll-host">
      <app-friends-activity-feed />
    </swiper-slide>

    <swiper-slide class="ion-padding h-full overflow-y-scroll ion-content-scroll-host">
      <app-friend-leaderboards />
    </swiper-slide>

    <swiper-slide class="ion-padding h-full overflow-y-scroll ion-content-scroll-host">
      <app-friends />
    </swiper-slide>
  </swiper-container>

</ion-content>

