<ion-header class="ion-no-border rounded-b-2xl">
  <ion-toolbar class="ion-padding-top ion-padding-horizontal pb-4">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Profil</ion-title>
    @defer {
      <ng-container *ngIf="user$ | async as user">
        <ion-button color="dark" fill="clear" size="large" slot="end" (click)="openSettingsModal()"
                    *ngIf="user.id === authService.user()?.id">
          <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    }
  </ion-toolbar>

  <div class="flex flex-col gap-6 px-8 pb-8">
    @defer {
      <ng-container *ngIf="user$ | async as user; else noUser">
        <section class="flex items-center transition-all duration-500" [ngClass]="collapseHeader ? 'gap-4' : 'gap-6'">
          <ion-avatar class="transition-all duration-500" [ngClass]="collapseHeader ? 'size-16' : 'size-24'">
            <img alt="" [ngSrc]="environment.baseUrl + 'users/' + user.id + '/avatar'" width="128"
                 height="128">
          </ion-avatar>

          <div class="flex flex-col leading-none">
            <ion-text class="text-2xl font-semibold">
              {{ user.display_name }}
            </ion-text>
            <ion-text color="medium">
              {{ user.username }}
            </ion-text>
          </div>
        </section>

        <section class="grid transition-[grid-template-rows] duration-500"
                 [ngClass]="collapseHeader ? 'grid-rows-[0fr]' : 'grid-rows-[1fr]'"
                 *ngIf="user.id === authService.user()?.id">
          <app-level-progress class="flex flex-col gap-1 overflow-hidden" />
        </section>
      </ng-container>

      <ng-template #noUser>
        <div class="flex items-center gap-2">
          <ion-icon name="alert-circle-outline" size="large"></ion-icon>
          <ion-text class="font-semibold text-xl">
            Nie znaleziono podanego użytkownika.
          </ion-text>
        </div>
        Możliwe przyczyny:
        <ul class="list-item list-disc">
          <li>Użytkownik nie istnieje.</li>
          <li>Konto zostało usunięte lub ma ograniczoną widoczność.</li>
          <li>Wystąpiły problemy z serwerem.</li>
        </ul>
      </ng-template>
    } @placeholder {
      <section class="flex items-center transition-all duration-500" [ngClass]="collapseHeader ? 'gap-4' : 'gap-6'">
        <ion-skeleton-text animated class="rounded-2xl transition-all duration-500"
                           [ngClass]="collapseHeader ? 'size-16' : 'size-24'"></ion-skeleton-text>
        <div class="flex flex-col gap-2">
          <ion-skeleton-text animated class="h-6 w-24 rounded-2xl"></ion-skeleton-text>
          <ion-skeleton-text animated class="h-4 w-16 rounded-2xl"></ion-skeleton-text>
        </div>
      </section>

      <section class="grid transition-[grid-template-rows] duration-500"
               [ngClass]="collapseHeader ? 'grid-rows-[0fr]' : 'grid-rows-[1fr]'">
        <div class="flex flex-col gap-2 overflow-hidden">
          <ion-skeleton-text animated class="h-4 w-24 rounded-2xl"></ion-skeleton-text>
          <ion-skeleton-text animated class="h-3 w-full rounded-full"></ion-skeleton-text>
          <ion-skeleton-text animated class="self-end h-3 w-36 rounded-2xl"></ion-skeleton-text>
        </div>
      </section>
    }

    <section class="transition-all duration-500" [ngClass]="{'-mt-6': collapseHeader}">
      <ion-segment mode="ios" (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
        <ion-segment-button value="feed">
          <ion-label>Aktywność</ion-label>
        </ion-segment-button>
        <ion-segment-button value="achievements">
          <ion-label>Osiągnięcia</ion-label>
        </ion-segment-button>
      </ion-segment>
    </section>
  </div>
</ion-header>

<ion-content scroll-y="false">
  <swiper-container
    #profileSwiper
    (swiperslidechange)="slideChanged($event)"
    class="w-full h-full">
    <ng-container *ngIf="user$ | async as user">
      <swiper-slide class="ion-padding h-full overflow-y-scroll ion-content-scroll-host"
                    (scroll)="onContentScroll($event)">
        <app-user-activity-feed [userId]="user.id" />
      </swiper-slide>

      <swiper-slide class="ion-padding h-full overflow-y-scroll" (scroll)="onContentScroll($event)">
        <app-user-achievements [userId]="user.id" />
      </swiper-slide>
    </ng-container>
  </swiper-container>
</ion-content>
