<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding-horizontal ion-padding-top">
    <ion-title>Warunki korzystania</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="flex flex-col gap-2 text-justify">
    <div class="text-lg font-semibold">
      1. Wprowadzenie
    </div>
    <p>
      Witamy w aplikacji Wspomagacz! Przed rozpoczęciem korzystania z naszej aplikacji, prosimy o zapoznanie się
      z
      poniższymi Warunkami korzystania. Korzystając z aplikacji, akceptujesz wszystkie warunki określone w tym
      dokumencie.
    </p>
    <div class="text-lg font-semibold">
      2. Definicje
    </div>
    <ul class="list-disc pl-4">
      <li><span class="font-semibold">Usługodawca</span> - Wspomagacz, właściciel i operator aplikacji.</li>
      <li><span class="font-semibold">Użytkownik</span> - Osoba korzystająca z aplikacji Wspomagacz.</li>
      <li><span class="font-semibold">Aplikacja</span> - Platforma Wspomagacz, dostępna na urządzenia mobilne i
        komputery.
      </li>
      <li><span class="font-semibold">Usługi</span> - Funkcje i możliwości oferowane przez aplikację, takie jak
        śledzenie postępów treningowych, planowanie ćwiczeń, interakcje z innymi użytkownikami.
      </li>
    </ul>
    <div class="text-lg font-semibold">
      3. Korzyści z aplikacji
    </div>
    <p>
      Wspomagacz to aplikacja zaprojektowana w celu śledzenia Twoich postępów w treningach, pomagania w
      planowaniu
      celów fitness oraz motywowania do regularnych ćwiczeń. Aplikacja umożliwia użytkownikom tworzenie planów
      treningowych, monitorowanie postępów i osiąganie celów.
    </p>
    <div class="text-lg font-semibold">
      4. Rejestracja Konta
    </div>
    <p>
      Aby korzystać z pełnej funkcjonalności aplikacji, użytkownik musi zarejestrować konto. Podczas rejestracji
      użytkownik zobowiązuje się do podania prawdziwych i kompletnych danych. Użytkownik jest odpowiedzialny za
      utrzymanie bezpieczeństwa swojego konta, w tym hasła.
    </p>
    <div class="text-lg font-semibold">
      5. Prawa i obowiązki użytkownika
    </div>
    <ul class="list-disc pl-4">
      <li>Użytkownik zobowiązuje się do korzystania z aplikacji w sposób zgodny z prawem i nie naruszający praw
        osób trzecich.
      </li>
      <li>Użytkownik ponosi odpowiedzialność za wszelkie dane wprowadzone do aplikacji.</li>
      <li>Użytkownik nie może używać aplikacji do szkodliwych działań, takich jak spamowanie, oszustwa,
        naruszanie
        prywatności innych osób itp.
      </li>
    </ul>
    <div class="text-lg font-semibold">
      6. Prawa i obowiązki usługodawcy
    </div>
    <ul class="list-disc pl-4">
      <li>Usługodawca ma prawo do modyfikowania, aktualizowania lub usuwania funkcji aplikacji.</li>
      <li>Usługodawca zastrzega sobie prawo do zawieszenia lub zablokowania konta użytkownika w przypadku
        naruszenia warunków korzystania.
      </li>
    </ul>
    <div class="text-lg font-semibold">
      7. Prywatność i dane osobowe
    </div>
    <ul class="list-disc pl-4">
      <li>Aplikacja Wspomagacz gromadzi dane osobowe użytkowników w celu świadczenia usług. Dane są
        przechowywane
        zgodnie z naszą Polityką Prywatności.
      </li>
      <li>Użytkownik wyraża zgodę na przetwarzanie swoich danych osobowych, zgodnie z przepisami dotyczącymi
        ochrony danych osobowych.
      </li>
    </ul>
    <div class="text-lg font-semibold">
      8. Odpowiedzialność
    </div>
    <ul class="list-disc pl-4">
      <li>Usługodawca nie ponosi odpowiedzialności za jakiekolwiek straty wynikłe z korzystania z aplikacji,
        błędy
        w aplikacji, przerwy w dostępie do usługi, ani za usunięcie danych.
      </li>
      <li>Usługodawca nie ponosi odpowiedzialności za treści wprowadzane przez użytkowników aplikacji.</li>
    </ul>
    <div class="text-lg font-semibold">
      9. Własność intelektualna
    </div>
    <ul class="list-disc pl-4">
      <li>Aplikacja Wspomagacz jest chroniona prawami autorskimi. Użytkownik nie ma prawa do kopiowania,
        modyfikowania, rozpowszechniania ani wykorzystywania aplikacji w celach komercyjnych, chyba że zostało
        to
        wyraźnie uzgodnione z usługodawcą.
      </li>
    </ul>
    <div class="text-lg font-semibold">
      10. Zmiany warunków
    </div>
    Usługodawca zastrzega sobie prawo do zmiany tych warunków w dowolnym czasie. Wszelkie zmiany będą ogłaszane
    na
    stronie aplikacji. Korzystanie z aplikacji po wprowadzeniu zmian oznacza ich akceptację.
    <div class="text-lg font-semibold">
      11. Rozwiązywanie sporów
    </div>
    <ul class="list-disc pl-4">
      <li>Wszelkie spory wynikłe z korzystania z aplikacji będą rozstrzygane zgodnie z przepisami prawa
        obowiązującymi w Polsce.
      </li>
      <li>Spory mogą być rozwiązywane na drodze polubownej, w przypadku potrzeby — sądem właściwym będzie Sąd
        <i>Rejonowy Poznań - Grunwald i Jeżyce w Poznaniu. ul. Kamiennogórska 26. 60-179 Poznań</i>.
      </li>
    </ul>
    <div class="text-lg font-semibold">
      12. Kontakt
    </div>
    <p>
      W przypadku jakichkolwiek pytań lub wątpliwości dotyczących Warunków korzystania z aplikacji, prosimy o
      kontakt z nami pod adresem e-mail:
      <ion-text color="primary">
        support&#64;wspomagacz.online.
      </ion-text>
    </p>
  </div>
</ion-content>
