<section>
  <ion-text class="text-2xl font-semibold px-4">
    Dodaj znajomego
  </ion-text>

  <form (ngSubmit)="addFriend()" [formGroup]="addFriendForm"
        class="flex w-full gap-3 flex-col">

  <ion-input class="input mt-4"
             fill="outline"
             formControlName="username"
             placeholder="Nazwa Użytkownika"
             type="text"></ion-input>

  <ion-button [disabled]="this.addFriendForm.invalid" class="w-full" type="submit">Dodaj znajomego</ion-button>

  <ion-text class="text-2xl font-semibold px-4">
    Zaproszenia
    <ion-badge>{{ friendRequests ? friendRequests.length : 0 }}</ion-badge>
  </ion-text>
  </form>

  <ion-list
    class="ion-padding-vertical flex flex-col gap-2"
    lines="none"
    *ngIf="friendRequests">
    <ng-container *ngIf="friendRequests.length === 0">
      <div class="flex items-center justify-center gap-2 ion-padding">
        <ion-icon class="text-2xl" color="medium" name="alert-circle-outline"></ion-icon>
        <ion-text class="text-center" color="medium">
          Brak zaproszeń.
        </ion-text>
      </div>
    </ng-container>
    <ion-item class="friend-request rounded-2xl border border-[var(--ion-color-light-tint)] py-4"
              *ngFor="let request of friendRequests">
      <div class="flex items-center flex-wrap gap-4 w-full overflow-hidden">
        <div class="flex items-center gap-4">
          <ion-avatar class="w-16 min-w-16 cursor-pointer"
                      [routerLink]="['/profile', request.sender.id]"
                      [routerDirection]="'forward'">
            <img alt="" [ngSrc]="environment.baseUrl + 'users/' + request.sender.id + '/avatar'" width="128"
                 height="128">
          </ion-avatar>
          <div class="flex flex-col leading-none w-full overflow-hidden">
            <ion-text class="font-semibold text-lg truncate">{{ request.sender.display_name }}</ion-text>
            <ion-text class="text-sm truncate" color="medium">{{ request.sender.username }}</ion-text>
          </div>
        </div>

        <div class="flex justify-between">
          <ion-button expand="block" color="success" size="small" (click)="friendService.accept$.next(request.sender.id)">Akceptuj</ion-button>
          <ion-button expand="block" color="light" size="small" (click)="friendService.reject$.next(request.sender.id)">Ignoruj</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-text class="text-2xl font-semibold px-4">
    Znajomi
  </ion-text>

  <ion-list class="ion-padding-vertical flex flex-col gap-2" lines="none"
            *ngIf="friends">
    <ng-container *ngIf="friends.length === 0">
      <div class="flex items-center justify-center gap-2 ion-padding">
        <ion-icon class="text-2xl" color="medium" name="alert-circle-outline"></ion-icon>
        <ion-text class="text-center" color="medium">
          Brak znajomych.
        </ion-text>
      </div>
    </ng-container>

    <ion-item class="rounded-2xl" color="light" *ngFor="let friend of friends.slice(0,5)" button detail="true" [routerLink]="['/profile', friend.id]" [routerDirection]="'forward'">
      <ion-label>
        <ion-text class="flex gap-2 items-center">
          <div class="flex items-center gap-4 w-full overflow-hidden">
            <ion-avatar class="w-12 min-w-12 cursor-pointer">
              <img alt="" [ngSrc]="environment.baseUrl + 'users/' + friend.id + '/avatar'" width="128"
                   height="128">
            </ion-avatar>
            <div class="flex flex-col leading-none w-full overflow-hidden">
              <ion-text class="font-semibold text-lg truncate">{{ friend.display_name }}</ion-text>
              <ion-text class="text-sm truncate" color="medium">{{ friend.username }}</ion-text>
            </div>
          </div>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</section>
