<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding-horizontal ion-padding-top">
    <ion-title>
      Szczegóły ćwiczenia
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="workoutExercise as workout">
  <ion-content>
    <div class="flex flex-col gap-6 px-4">
      <section>
        <ion-text class="text-3xl font-bold">
          {{ workout.exercise.exercise_name }}
        </ion-text>
      </section>

      <section>
        <ion-text>
          <div class="text-xl font-semibold">
            Serie
          </div>
        </ion-text>
        <app-workout-exercise-sets-list [sets]="workoutExercise.sets" />
      </section>
    </div>

  </ion-content>
</ng-container>

