/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Saira', sans-serif;
}

:root {
  --ion-font-family: 'Saira', sans-serif;

  ion-tab-bar {
    box-shadow: 0 0 30px 5px var(--ion-color-light-shade);
    --background: var(--ion-color-light);
  }

  .searchbar {
    --border-radius: 1rem;
    --box-shadow: none;
  }

  ion-toolbar {
    --background: var(--ion-background-color);
  }

  .list-md {
    background: var(--ion-background-color);
  }

  ion-button {
    --border-radius: 1rem;
    --box-shadow: none;
    --padding-bottom: 1rem;
    --padding-top: 1rem;
  }

  ion-card {
    border-radius: 1rem;
    margin: 0;
    box-shadow: none;
  }

  ion-button.date-select {
    --border-radius: 50%;
    --padding-bottom: 0;
    --padding-top: 0;
    aspect-ratio: 1 / 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    ion-list {
      background: transparent;
    }

    ion-item {
      --background: var(--ion-background-color);
    }

    ion-tab-bar {
      box-shadow: 0 0 30px 5px var(--ion-background-color);
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    ion-card {
      border-color: var(--ion-color-medium);
      border: 1px solid;
    }
  }
}
