<ng-container *ngIf="selectedDay$ | async as selectedDay">
    <div class="flex items-center justify-between self-stretch">
        <ion-button fill="clear" color="dark" *ngIf="monthAgo$ | async as monthAgo"
                    (click)="monthFirstDay$.next(monthAgo)">
            <ion-icon slot="icon-only" name="caret-back"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="dark" (click)="monthFirstDay$.next(calculateMonthFirstDay(selectedDay))">
            {{
                selectedDay.toLocaleDateString("pl-PL", {
                    weekday: "short",
                    month: "long",
                    day: "numeric",
                    year: "numeric",
                })
            }}
        </ion-button>
        <ion-button fill="clear" color="dark" *ngIf="monthAhead$ | async as monthAhead"
                    (click)="monthFirstDay$.next(monthAhead)">
            <ion-icon slot="icon-only" name="caret-forward"></ion-icon>
        </ion-button>
    </div>
    <div class="-mb-3 flex flex-col self-stretch items-center justify-center gap-2">
        <div class="grid grid-cols-7 items-center justify-between self-stretch overflow-y-clip">
            <div *ngFor="let day of weekdays" class="flex h-[1.375rem] items-center justify-center">
                {{ day }}
            </div>
        </div>
        <div class="grid grid-cols-7 items-center justify-between self-stretch overflow-y-clip">
            <ng-container *ngIf="monthDays$ | async as currentMonthDays">
                <div *ngFor="let day of currentMonthDays" class="flex items-center justify-center gap-2">
                    <ion-button *ngIf="day" class="date-select"
                                [fill]="selectedDay.toDateString() === day.toDateString() ? 'solid' : 'clear'"
                                [color]="selectedDay.toDateString() === day.toDateString() ? 'primary' : 'medium'"
                                (click)="selectedDay$.next(day)">
                        <ion-text slot="icon-only" class="flex h-[1.375rem] w-[1.375rem] items-center justify-center">
                            {{ day.getDate() }}
                        </ion-text>
                    </ion-button>
                </div>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="selectedDayWorkout$ | async as workout; else noWorkout">
        <div class="flex w-full flex-col items-center gap-4">
            <ion-text class="text-2xl font-semibold">
                {{ workout.name }}
            </ion-text>
            <div class="flex gap-4 self-stretch">
                <div class="flex w-full flex-col gap-2 rounded-2xl bg-green-200 p-4 dark:bg-green-950">
                    <div>
                        <div class="flex items-center gap-2 font-semibold">
                            <ion-icon name="flash"></ion-icon>
                            Ćwiczenia
                        </div>
                    </div>
                    <div class="text-right text-xl">
                        <ion-text color="dark">
                            {{ workout.exercises.length }}
                        </ion-text>
                    </div>
                </div>
                <div class="flex w-full flex-col gap-2 rounded-2xl bg-blue-200 p-4 dark:bg-blue-950">
                    <div class="flex items-center gap-2 font-semibold">
                        <ion-icon name="time-outline"></ion-icon>
                        Czas
                    </div>
                    <div class="text-right text-xl">
                        <ion-text color="dark">
                            <ng-container *ngIf="duration$ | async as duration; else noData">
                                {{ duration }} minut
                            </ng-container>
                            <ng-template #noData> b.d.</ng-template>
                        </ion-text>
                    </div>
                </div>
            </div>
            @if (workout.finished_at) {
                <div class="flex justify-between self-stretch">
                    <div class="flex items-center gap-2">
                        <ion-icon
                            name="checkmark-circle-outline"
                            color="success"
                            class="text-2xl"
                        ></ion-icon>
                        <ion-text color="success">Trening zakończony!</ion-text>
                    </div>
                    <div>
                        <ion-text color="success">+25 PD</ion-text>
                    </div>
                </div>
                <div class="flex w-full gap-2">
                    <ion-button class="w-full" color="success">
                        Ponów trening
                    </ion-button>
                </div>
            } @else if (workout.started_at) {
                <div class="flex items-center gap-2">
                    <ion-icon
                        name="play-circle-outline"
                        color="warning"
                        class="text-2xl"
                    ></ion-icon>
                    <ion-text color="warning">Trening jest w trakcie.</ion-text>
                </div>
                <ion-button class="w-full" color="warning">
                    Kontynuuj trening
                </ion-button>
            } @else {
                <div class="flex w-full gap-2">
                    <ion-button color="light">
                        <ion-text color="medium">Edytuj</ion-text>
                    </ion-button>
                    <ion-button class="w-full" color="secondary">
                        Rozpocznij trening
                    </ion-button>
                </div>
            }
        </div>
    </ng-container>

    <ng-template #noWorkout>
        @if (selectedDay >= today) {
            <div class="flex items-center justify-center gap-2">
                <ion-icon
                    name="alert-circle-outline"
                    color="medium"
                    class="text-2xl"
                ></ion-icon>
                <ion-text class="text-center" color="medium">
                    Nie zaplanowałeś treningu na ten dzień.
                </ion-text>
            </div>
            <ion-button class="w-full">Zaplanuj trening</ion-button>
        } @else {
            <div class="flex items-center justify-center gap-2">
                <ion-icon
                    name="alert-circle-outline"
                    color="medium"
                    class="text-2xl aspect-square"
                ></ion-icon>
                <ion-text class="text-center" color="medium">
                    Nie wykonałeś treningu w tym dniu.
                </ion-text>
            </div>
            <ion-button class="w-full" color="light">
                <ion-text color="medium">Dodaj trening</ion-text>
            </ion-button>
        }
    </ng-template>
</ng-container>
