<form [formGroup]="registerForm" (ngSubmit)="createUser.emit(registerForm.getRawValue())"
      class="flex w-full gap-3 flex-col">
  <ion-input type="text" fill="outline" class="input" placeholder="Nazwa Użytkownika"
             formControlName="username" errorText="To pole nie może być puste!"></ion-input>
  <ion-input type="text" fill="outline" class="input" placeholder="Adres E-mail"
             formControlName="email" errorText="To pole nie może być puste!"></ion-input>
  <ion-input type="password" fill="outline" class="input" placeholder="Hasło"
             formControlName="password" errorText="To pole nie może być puste!">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>
  <ion-text class="text-sm text-center">
    Klikając przycisk
    <ion-text color="primary">Zarejestruj się</ion-text>
    akceptujesz nasze Warunki Korzystania oraz Politykę Prywatności.
  </ion-text>
  <ion-button class="w-full" type="submit"
              [disabled]="this.registerForm.invalid || registerStatus() === 'creating'">Zarejestruj się
  </ion-button>
</form>
