@defer (when authService.user() !== null) {
  <ion-header class="ion-no-border">
    <ion-toolbar class="ion-padding">
      <div class="flex ion-align-items-center gap-2" slot="end">
        <app-notifications />
        <app-avatar-level-progress />
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="flex flex-col gap-6">
      <section class="px-4">
        <app-workouts-calendar (selectedWorkout)="selectedWorkout$.next($event)"
                               (selectedDate)="selectedDate$.next($event)" />
        <app-workout-summary [workout]="(selectedWorkout$ | async) ?? undefined"
                             [date]="(selectedDate$ | async) ?? undefined" />
      </section>

      <section>
        <div class="px-8">
          <ion-text class="text-2xl font-semibold">
            Ostatnie treningi
          </ion-text>
        </div>
        <ion-list class="ion-padding-vertical flex flex-col gap-2 scroll-px-4 px-4 pb-4" lines="none">
          <ion-item class="rounded-2xl" color="light" *ngFor="let workout of workouts"
                    (click)="workoutService.openWorkoutSummaryModal(workout.id)"
                    detail="true">
            <ion-label>
              <ion-text class="font-medium">
                {{ workout.name }}
              </ion-text>
              <ion-text class="flex gap-2 text-sm" color="medium">
                <div class="flex items-center self-stretch gap-1">
                  <ion-icon name="flash"></ion-icon>
                  <div class="text-base">{{ workout.exercises.length }}</div>
                </div>
                <div class="flex items-center self-stretch gap-1">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <div class="text-base">{{ workout.date | date: 'dd.MM.yyyy' }}</div>
                </div>
              </ion-text>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-list>
        <ng-container *ngIf="workouts.length === 0">
          <div class="flex items-center justify-center gap-2">
            <ion-icon class="text-2xl" color="medium" name="alert-circle-outline"></ion-icon>
            <ion-text class="text-center" color="medium">
              Brak treningów.
            </ion-text>
          </div>
        </ng-container>
      </section>
    </div>
  </ion-content>
} @loading {
  <div class="flex justify-center items-center w-full h-full">
    <ion-spinner name="crescent" color="primary" />
  </div>
}
