<ng-container *ngIf="selectedDay$ | async as selectedDay">
  <div class="flex items-center justify-between self-stretch">
    <ion-button (click)="firstDay$.next(timeAgo)" *ngIf="timeAgo$ | async as timeAgo" color="dark"
                fill="clear">
      <ion-icon name="caret-back" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="firstDay$.next(calculateFirstDay(selectedDay))" color="dark" fill="clear">
      {{
        selectedDay.toLocaleDateString("pl-PL", {
          weekday: "short",
          month: "long",
          day: "numeric",
        })
      }}
    </ion-button>
    <ion-button (click)="firstDay$.next(timeAhead)" *ngIf="timeAhead$ | async as timeAhead" color="dark"
                fill="clear">
      <ion-icon name="caret-forward" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  <div class="-mb-3 flex flex-col self-stretch items-center justify-center gap-2">
    <div class="grid grid-cols-7 items-center justify-between self-stretch overflow-y-clip">
      <div *ngFor="let weekdays of weekdays" class="flex h-[1.375rem] items-center justify-center">
        {{ weekdays }}
      </div>
    </div>
    <div class="grid grid-cols-7 items-center justify-between self-stretch overflow-y-clip">
      <ng-container *ngIf="days$ | async as days">
        <div *ngFor="let day of days" class="flex items-center justify-center gap-2">
          <ion-button (click)="selectedDay$.next(day)" *ngIf="day"
                      [color]="colorDate(day)"
                      [fill]="fillDate(day)"
                      class="date-select">
            <ion-text class="flex h-[1.375rem] w-[1.375rem] items-center justify-center" slot="icon-only">
              {{ day.getDate() }}
            </ion-text>
          </ion-button>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
