<div class="flex items-center gap-2">
  <ng-container *ngIf="timeAgo$ | async as timeAgo">
    <ion-button (click)="firstDay$.next(calculateFirstDay(timeAgo))" color="dark" fill="clear">
      <ion-icon name="caret-back" slot="icon-only"></ion-icon>
    </ion-button>
  </ng-container>

  <ng-container *ngIf="selectedDate$ | async as day">
    <ion-button (click)="firstDay$.next(calculateFirstDay(day))" class="grow" color="dark" fill="clear">
      {{ day.toLocaleDateString('pl-PL', { day: 'numeric', month: 'short', year: 'numeric' }) }}
    </ion-button>
  </ng-container>

  <ng-container *ngIf="timeAhead$ | async as timeAhead">
    <ion-button (click)="firstDay$.next(calculateFirstDay(timeAhead))" color="dark" fill="clear">
      <ion-icon name="caret-forward" slot="icon-only"></ion-icon>
    </ion-button>
  </ng-container>
</div>
<div class="grid grid-cols-7">
  <div *ngFor="let weekday of weekdays" class="flex justify-center my-2">
    {{ weekday }}
  </div>
  <div *ngFor="let day of days$ | async" class="flex justify-center">
    <ion-button (click)="selectedDate$.next(day)" *ngIf="day"
                [color]="getDateColor(day)"
                [fill]="getDateFill(day)"
                class="date-select">
      <ion-text slot="icon-only">
        {{ day.getDate() }}
      </ion-text>
    </ion-button>
  </div>
</div>

