<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding-horizontal ion-padding-top">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Ustawienia
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
@defer (when authService.user() !== null) {
  <ion-content>
    <ion-list lines="full">
      <ion-item-divider>
        <ion-label>
          Moje konto
        </ion-label>
      </ion-item-divider>

      <ion-item button id="settings-username">
        <ion-label>
          Nazwa użytkownika
        </ion-label>
        <ion-text color="medium" class="max-w-32 truncate">
          {{ authService.user()?.username }}
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>
          E-mail
        </ion-label>
        <ion-text color="medium" class="max-w-64 truncate">
          {{ authService.user()?.email }}
        </ion-text>
      </ion-item>

      <ion-item button (click)="openModal(DisplayNameSettingsComponent)">
        <ion-label>
          Wyświetlana nazwa
        </ion-label>
        <ion-text color="medium" class="max-w-32 truncate">
          {{ authService.user()?.display_name }}
        </ion-text>
      </ion-item>

      <ion-item button (click)="openModal(AvatarSettingsComponent)">
        <ion-label>
          Zdjęcie profilowe
        </ion-label>
        <ion-avatar>
          <img [ngSrc]="environment.baseUrl + 'users/' + authService.user()?.id + '/avatar'" alt="avatar" width="128"
               height="128" />
        </ion-avatar>
      </ion-item>

      <ion-item button (click)="openModal(GenderSettingsComponent)">
        <ion-label>
          Płeć
        </ion-label>
        <ion-text color="medium">
          @switch (authService.user()?.gender) {
            @case (UserGender.Male) {
              Mężczyzna
            }
            @case (UserGender.Female) {
              Kobieta
            }
            @case (UserGender.NotSpecified) {
              Wolę nie podawać
            }
          }
        </ion-text>
      </ion-item>

      <ion-item button (click)="openModal(BirthdaySettingsComponent)">
        <ion-label>
          Data urodzenia
        </ion-label>
        <ion-text color="medium">{{ authService.user()?.birthday | date: 'dd.MM.yyyy' || 'Brak' }}</ion-text>
      </ion-item>

      <!--<ion-item button id="settings-password-change">
        Zmień hasło
      </ion-item>-->

      <ion-item-divider>
        <ion-label>
          Personalizacja
        </ion-label>
      </ion-item-divider>

      <ion-item button (click)="openModal(AddCustomExerciseComponent)">
        <ion-label>
          Dodaj ćwiczenie
        </ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>
          Aplikacja
        </ion-label>
      </ion-item-divider>
      <ion-item button (click)="openModal(TermsOfServiceComponent)">
        <ion-label>
          Warunki korzystania
        </ion-label>
      </ion-item>
      <ion-item button (click)="openModal(PrivacyPolicyComponent)">
        <ion-label>
          <ion-text>
            Polityka prywatności
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-label>
          <ion-text color="primary">
            Wyloguj
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-modal trigger="settings-username">
      <ng-template>
        <ion-header class="ion-no-border">
          <ion-toolbar class="ion-padding-horizontal ion-padding-top">
            <ion-title>Nazwa użytkownika</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalController.dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding text-center">
          <ion-text color="medium" class="text-sm">
            <div>
              Nazwa użytkownika to unikalna nazwa Twojego konta za pomocą której logujesz się do aplikacji. Nie możesz
              jej zmienić.
            </div>
            <br />
            <div>
              Twoja nazwa użytkownika to
              <ion-text color="primary">
                {{ authService.user()?.username }}
              </ion-text>
            </div>
          </ion-text>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
}
